<?xml version="1.0" encoding="UTF-8"?>
<!--
 - Copyright 1999-2011 Alibaba Group.
 -
 - Licensed under the Apache License, Version 2.0 (the "License");
 - you may not use this file except in compliance with the License.
 - You may obtain a copy of the License at
 -
 -      http://www.apache.org/licenses/LICENSE-2.0
 -
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 - See the License for the specific language governing permissions and
 - limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://code.alibabatech.com/schema/dubbo
http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <!--应用名字-->
    <dubbo:application name="micro-spider"/>

    <dubbo:annotation package="com.yaofei.api.*"/>

    <!--zookeeper注册中心 -->
    <dubbo:registry protocol="zookeeper" address="${dubbo.zookeeper}"/>
    <!--  <dubbo:registry address="zookeeper://10.3.5.48:2181" check="false" subscribe="false" register=""></dubbo:registry> -->

    <!--使用multicast广播注册中心暴露服务地址 -->
    <!--<dubbo:registry address="multicast://10.57.41.19:1234" />-->
    <dubbo:protocol name="dubbo" port="20880"/>

    <dubbo:service interface="com.yaofei.api.zhihu.service.IZhihuHandleService" ref="zhihuHandleServiceProvider"
                   timeout="${dubbo.timeout}" retries="${dubbo.retries}" version="1.0.0" owner="micro-spider"/>
    <bean id="zhihuHandleServiceProvider" class="com.yaofei.dubboService.zhihu.provider.ZhihuHandleServiceProvider"/>
</beans>

        <!--<?xml version="1.0" encoding="UTF-8"?>-->
        <!--<beans xmlns="http://www.springframework.org/schema/beans"-->
        <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
        <!--xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"-->
        <!--xsi:schemaLocation="http://www.springframework.org/schema/beans-->
        <!--http://www.springframework.org/schema/beans/spring-beans.xsd-->
        <!--http://code.alibabatech.com/schema/dubbo-->
        <!--http://code.alibabatech.com/schema/dubbo/dubbo.xsd">-->

        <!--<dubbo:application id="micro-provider"-->
        <!--name="micro-provider"-->
        <!--owner="${dubbo.owner}"-->
        <!--organization="${dubbo.organization}"/>-->

        <!--&lt;!&ndash; 注册中心配置 &ndash;&gt;-->
        <!--<dubbo:registry protocol="${dubbo.registry.protocol}"-->
        <!--address="${dubbo.registry.address}"-->
        <!--timeout="${dubbo.registry.timeout}"-->
        <!--group="${dubbo.registry.group}"/>-->

        <!--&lt;!&ndash; provider 单机模式启动不同端口端口 ，否则会报端口占用！ &ndash;&gt;-->
        <!--<dubbo:protocol name="dubbo" port="-1"/>-->

        <!--<dubbo:provider timeout="${dubbo.provider.timeout}"/>-->

        <!--&lt;!&ndash;有服务的启动时检查：(没有提供者时报错),启用结果缓存 &ndash;&gt;-->
        <!--<dubbo:consumer  check="${dubbo.consumer.check}"/>-->

        <!--&lt;!&ndash; 注解annotation-based and xml-based configs &ndash;&gt;-->
        <!--<dubbo:annotation package="${dubbo.annotation.packages}" />-->

        <!--</beans>-->

